{% style %}
  .rogue-flavor-picker .flavor-links{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    column-gap:14px;
    row-gap:14px;
    margin-bottom:8px;
  }
  @media(max-width:1200px){
    .rogue-flavor-picker .flavor-links{
        grid-template-columns:repeat(3,1fr);
        column-gap: 7px;
        row-gap: 7px;
    }
    /* .rogue-flavor-picker .flavor-links > *:last-child:nth-child(odd){
        grid-column:1 / -1;
    } */
    
  }
  
  .rogue-flavor-picker .flavor-link{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 7px;
    border: 4px solid rgba(239, 239, 239, 1);
    padding: 8px;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background:#fff;
    span{
        color:#000;
    }
  }
  .rogue-flavor-picker .flavor-link.selected-flav{
    background: rgba(255, 255, 255, 0.15);
    border: 4px solid rgba(255, 255, 255, 0.2);
    .link-title{
        color:white;
    }
  }
  .rogue-flavor-picker .flavor-link[data-flavor="10031050490176"].selected-flav{
    border:4px solid transparent;
  }
  .rogue-flavor-picker .flavor-link[data-flavor="10031050490176"] {
    position: relative;
    border-radius: 7px;
    border:4px solid transparent;
    }

    .rogue-flavor-picker .flavor-link[data-flavor="10031050490176"]::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 4px; /* controls border thickness */
    border-radius: 7px;
    background: linear-gradient(150deg, #FFAE00 1.93%, #F00 43.27%, #7960F1 70.68%, #2FA1DC 98.55%);
    
    /* this creates the "border only" effect */
    -webkit-mask: 
        linear-gradient(#000 0 0) content-box, 
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
        width: 100%;
    height: 100%;
    top: -4px;
    left: -4px;
    pointer-events: none;
    z-index: 3;
    }
  @media(min-width:1200px){
    .rogue-flavor-picker .flavor-link.selected-flav{
        .link-title{
            color: white;
            font-family: "Space Grotesk";
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 15px; /* 120% */
            letter-spacing: -0.15px;
        }
    }
  }
  .rogue-flavor-picker .link-title{
    font-size:14px;
    line-height: 16px;
  }
  .rogue-flavor-picker .flavor-link img{
    height: 105px;
    width: auto;
  }
  .rogue-flavor-picker .flavor-picker-title{
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px; /* 127.778% */
    letter-spacing: -0.18px;
    margin-bottom:10px;
  }
{% endstyle %}
<div class="rogue-flavor-picker">
    <div class="flavor-picker-title">
        Flavor
    </div>
    <div class="flavor-links">
        {% for flavor in block.settings.flavor_collection.products %}
            <a data-flavor="{{ flavor.id }}" href="{{ flavor.url }}" class="flavor-link {% if flavor.id == closest.product.id  %}selected-flav{% endif %}" title="{{ flavor.title }}">
                {% if flavor.metafields.custom.flavor_picker_thumbnail %}
                    <img src="{{ flavor.metafields.custom.flavor_picker_thumbnail | image_url }}">
                {% else %}
                    <img src="{{ flavor.featured_image | image_url }}">
                {% endif %}
                <span class="link-title">
                    {% if flavor.metafields.custom.flavor_name %}
                    {{ flavor.metafields.custom.flavor_name }}
                    {% else %}
                        {{ flavor.title }}
                    {% endif %}
                </span>
            </a>
        {% endfor %}
    </div>
</div>
{% schema %}
{
    "presets": [
        {
            "name": "Flavor Picker"
        }
    ],
    "name":"Flavor Picker",
    "settings": [
        {
            "type": "collection",
            "id": "flavor_collection",
            "label": "Collection"
        }
    ]
}
{% endschema %}