{% style %}
    #{{ section.id }}{
        padding:50px;
    }
    #{{ section.id }} h2{
        color: #FFF;
        font-family: "venice-blvd", sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 900;
        line-height: 42px; /* 93.333% */
        letter-spacing: -0.9px;
        text-transform: uppercase;
        text-align:center;
    }
    #{{ section.id }} .anim-sub{
        color: #FAF3DF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px; /* 143.75% */
        letter-spacing: -0.16px;
        text-align:center;
    }
    #{{ section.id }} .canvas-container{
        position:relative;
    }
    #{{ section.id }} .highlight-num{
        color: {{ product.metafields.custom.custom_styles.value.num_color }};
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        font-family: "venice-blvd", sans-serif;
        width: 44px;
        height: 44px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }
    #{{ section.id }} .highlights-container{
        position:absolute;
        display:flex;
        flex-direction:column;
        width:100%;
    }
    #{{ section.id }} .highlight-title{
        color: #FFF;
        text-align: center;
        font-family: "venice-blvd", sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: 42px; /* 168% */
        letter-spacing: -0.5px;
        text-transform: uppercase;
    }
    #{{ section.id }} .h{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width:300px;
    }
    #{{ section.id }} .highlight-1,
    #{{ section.id }} .highlight-3{
        align-self:start;
    }
    #{{ section.id }} .highlight-2{
        align-self:end;
    }
    #{{ section.id }} .highlight-txt{
        color: #FAF3DF;
        text-align: center;
        font-family: "Space Grotesk";
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 27px; /* 158.824% */
        letter-spacing: -0.17px;
    }
    .scene{
        position:relative;
    }
    /* canvas */
    #riveCanvas{
        width:100%;
        display:block;
    }
{% endstyle %}
<!-- GSAP -->
<script src="https://unpkg.com/gsap@3/dist/gsap.min.js"></script>
<script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>

<!-- Rive -->
<script src="https://unpkg.com/@rive-app/canvas@2.9.1"></script>
<script>
    const { Rive, Layout, Fit, Alignment } = rive;

    gsap.registerPlugin(ScrollTrigger);

    const canvas = document.getElementById("riveCanvas");

    let riveInstance;

    /* Fix blurry canvas */
    function resizeCanvas() {

    const dpr = window.devicePixelRatio || 1;

    const rect = canvas.getBoundingClientRect();

    canvas.width = rect.width * dpr;
    canvas.height = rect.height * dpr;

    canvas.style.width = rect.width + "px";
    canvas.style.height = rect.height + "px";

    if(riveInstance){
    riveInstance.resizeDrawingSurfaceToCanvas();
    }

    }

    riveInstance = new Rive({

    src: "chipanimation.riv",

    canvas: canvas,

    autoplay: true,

    artboard: "Artboard 2",

    stateMachines: "State Machine 1",

    layout: new Layout({
    fit: Fit.Contain,
    alignment: Alignment.Center
    }),

    onLoad: () => {

    resizeCanvas();

    window.addEventListener("resize", resizeCanvas);

    const inputs = riveInstance.stateMachineInputs("State Machine 1");

    const numberInput = inputs.find(input => input.name === "Number 1");

    if(!numberInput){
    console.error("Number input not found");
    return;
    }

    ScrollTrigger.create({

    trigger: ".scene",

    start: "top top",

    end: "+=2500",

    pin: true,

    scrub: true,

    onUpdate: (self) => {

    const value = Math.round(self.progress * 100);

    numberInput.value = value;

    }

    });

    }

    });
</script>
<section style="background:{{ product.metafields.custom.custom_styles.value.background_gradient }}" id="{{ section.id }}" class="scene">
    
    <div class="page-container">
        <h2>
            {{ section.settings.title }}
        </h2>
        <div class="anim-sub">
            {{ section.settings.subtitle }}
        </div>
        <div class="rogue-flex rogue-col">
            <div class="canvas-container">
                <div class="highlights-container">
                {% for block in section.blocks %}
                    <div class="h highlight-{{ forloop.index }}">
                        <div class="highlight-num">
                            {{ forloop.index }}
                        </div>
                        <div class="highlight-title">
                            {{ block.settings.title }}
                        </div>
                        <div class="highlight-txt">
                            {{ block.settings.text }}
                        </div>
                    </div>
                {% endfor %}
            </div>
                <canvas id="riveCanvas"></canvas>
            </div>
        </div>
    </div>
</section>
{% schema %}
{
    "presets": [
        {
            "name": "Chip Section"
        }
    ],
    "settings": [
        {
            "type":"text",
            "label": "Title",
            "id": "title",
            "default":"WHAT'S INSIDE"
        },
        {
            "type":"text",
            "label": "Subtitle",
            "id": "subtitle",
            "default":"Protein-first ingredients, clean binding, and real seasoning—no artificial shortcuts."
        }
    ],
    "blocks": [
        {
            "type": "highlight",
            "name":"Highlight",
            "limit": 3,
            "settings": [
                {
                    "type":"text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type":"text",
                    "id":"text",
                    "label": "Text"
                }
            ]
            
        }
    ]
}
{% endschema %}