<style>
    .{{ section.id }}{
        padding-top:{{ section.settings.m_padding_top }}px;
        padding-bottom:{{ section.settings.m_padding_bottom }}px;
        background:{{ section.settings.bg_color }};
    }
    .{{ section.id }} h2,
    .{{ section.id }} p{
        color:{{ section.settings.text_color }};
    }
    .{{ section.id }} h2{
        color: #1D1D1D;
        text-align: center;
        font-size: 35px;
        font-style: normal;
        font-weight: 900;
        line-height: 37px; /* 105.714% */
        letter-spacing: -0.7px;
        text-transform: uppercase;
        margin-bottom:20px;
    }
    .{{ section.id }} p{
        color: #232323;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align:center;
    }
    .{{ section.id }} .product-slider-text{
        padding-bottom:30px;
    }
    @media(min-width:750px){
        .{{ section.id }}{
            padding-top:{{ section.settings.d_padding_top }}px;
            padding-bottom:{{ section.settings.d_padding_bottom }}px;
        }
        .{{ section.id }} h2{
            font-size: 50px;
            letter-spacing:-1px;
            text-align:left;
        }
        .{{ section.id }} p{
            text-align:left;
        }
        .{{ section.id }} .product-slider-text{
            padding-bottom:50px;
        }
    }
    .product-slider .swiper-slide{
        height:auto;
    }
    .product-slider .rogue-product-card{
        height:100% !important;
        display:flex;
        flex-direction:column;
    }
</style>
<section class="{{ section.id }}">
    <div class="page-container-body-wide"> 
        <div class="product-slider-text">
            <h2>{{ section.settings.title }}</h2>
            <p>{{ section.settings.subtitle }}</p>
        </div>
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    <div class="swiper-slide">
                        {% render 'rogue-product-card' product:block.settings.product %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<script>
    const product_slider = new Swiper('.{{ section.id }} .product-slider',{
        loop:false,
        slidesPerView:1,
        spaceBetween:10,
        breakpoints:{
            750:{
                slidesPerView:3.75,
                spaceBetween:25
            }
        }
    })
</script>
{% schema %}
{
    "presets": [
        {
            "name":"Product Slider"
        }
    ],
    "settings": [
        {
            "type":"header",
            "content": "Text"
        },
        {
            "type": "text",
            "id": "title",
            "default":"GO ROGUE. EAT THEM ALL.",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default":"Protein snacks that hit like junk food — without the junk."
        },
        {
            "type":"header",
            "content": "Background and Colours"
        },
        {
            "type": "color",
            "id":"bg_color",
            "label": "Background Color",
            "default":"#FFFFFF"
        },
        {
            "type": "color",
            "id":"text_color",
            "label": "Text Color",
            "default":"#151414"
        },
        {
            "type":"header",
            "content": "Padding"
        },
        {
            "type": "range",
            "id": "d_padding_top",
            "default":90,
            "label": "Padding Top (Desktop)",
            "min": 20,
            "max": 200,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "d_padding_bottom",
            "default":180,
            "label": "Padding Bottom  (Desktop)",
            "min": 20,
            "max": 200,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "m_padding_top",
            "default":90,
            "label": "Padding Top (Mobile)",
            "min": 20,
            "max": 100,
            "step": 5,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "m_padding_bottom",
            "default":50,
            "label": "Padding Bottom  (Mobile)",
            "min": 20,
            "max": 100,
            "step": 5,
            "unit": "px"
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Product",
            "limit": 5,
            "settings": [
                {
                    "type": "product",
                    "label":"Product",
                    "id": "product"
                }
            ]
        }
    ]
}
{% endschema %}